<h1>闇チャット</h1>

<input type="text" [(ngModel)]="name" placeholder="名前を入力">
<textarea [(ngModel)]="messageText" placeholder="メッセージを入力 (Shift + Enterで改行)" (keydown.enter)="onEnterKeyDown($event)"></textarea>

<div class="messages" #messagesContainer>
  <div *ngFor="let message of messages" [ngClass]="{'message-left': message.user === name, 'message-right': message.user !== name}">
    <div class="message-box">
      <p><span class="message-user">{{ message.user }}：</span></p>
      <div [innerHTML]="message.text | nl2br"></div>
    </div>
  </div>
</div>

