<h1>タイトルを表示します</h1>

<button (click)="ChgTitle()">ひらがなカタカナを変更</button>

<p>これは「{{title}}」です</p>

｛｛ ｔｉｔｌｅ ｝｝はテンプレート変数と言われるものです。<br>
TypeScript側で定義したフィールド変数を利用して、html上に表示させることが可能です。

<div class="colorful-box" id="colorfulBox">
        <p>今回ご紹介するのはテレビ番組ではありませんが、</p>
        <h1>恥を知れ！恥を！</h1>
        というフレーズでお馴染みのYouTureチャンネル<br>
        その名も「 安芸高田市公式チャンネル 」です。<br>
        <br>
        ・私利私欲で動くチンピラ議員<br>
        ・国を揺さぶる教団メディア<br>
        ・気分で否決する最強のラスボス議会<br>
        <br>
        このような悪の組織に<br>
        真っ向から立ち向かう一人の「 市長 」の姿がまぶたに焼き付く！！！<br>
        <br>
        一度見たらやめられない<br>
        <h2>共に…悪魔の扉を開いてみませんか…！？</h2>
</div>

